.header{
    background-color: rgb(212, 134, 17);
    padding: 10;
}
.greeting{
    background-color: aqua;
    padding: 15;
}
.Content{
    background-color: rgb(99, 158, 93);
    padding: 13;
}
.footer{
    background-color:ghostwhite;
    padding: 14;
}